body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(235, 178, 132);
    justify-content: center;
    font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}

.container{
    display: grid;
    grid-template-rows: .5fr 6fr .5fr;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    background-color: rgb(235, 178, 132);
    padding: 0% 8% 1%;
}

header{
    grid-row: 1/span 1;
    grid-column: 1/span 2;
}

.logo {
    width: 100%;
    height: 100%;
}

nav {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    background-color: rgb(255, 255, 240);
}

menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}

menu li {
    margin-bottom: 0.5rem;
}
menu li a {
    text-decoration: none;
    color: #4040409e;
}

main {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    background-color:rgb(255, 255, 240);
    padding: 0 5% 0 2rem;
}

main .about{
    padding: 2vh;
    display: block;
}

main .about .meet-our-coaches {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about .meet-our-coaches .mission {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .about h1 {
    color: white;
    font-size: 2rem;
    font-weight: normal;
    background-color: rgb(185, 122, 87);
}

main .about blockquote {
    background-color: #E18330;
    color: white;
    float: right;
    padding: 2vh;
}

.content {
    float: right;
}

main .coaches {
    color: #E18330;
    padding: 2vh;
}

main .coaches ul {
    list-style-type: none;
    color: #4040409e;
    padding: 0;
}

main .coaches ul li:before {
    content: '✓ ';
    color: #E18330;
}

main p {
    color: #4040409e;
    font-size: 2.5vh;
    margin: 0;
    padding: 1vh;
}

main .coach-images {
    margin-right: 3vh;
    max-height: 100%;
    max-width: 100%;
    float: left;
}

footer {
    background-color: rgb(222, 128, 60);
    grid-row: 3/span 1;
    grid-column: 1/span 2;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

footer address {
    color: rgb(255, 255, 240);
    font-style: normal;
    text-align: center;
}