body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(235, 178, 132);
    justify-content: center;
    font-family: 'Quicksand','Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    color: rgb(91, 91, 91);
}

.container{
    display: grid;
    grid-template-rows: max(91px, 1fr) 3fr 1rem;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    background-color: rgb(235, 178, 132);
    padding: 0% 12% 1%;
}

header{
    grid-row: 1/span 1;
    grid-column: 1/span 2;
}

.logo {
    width: 100%;
    height: 100%;
}

nav {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    background-color: rgb(255, 255, 240);
}

nav li {
    list-style: none;
    margin-bottom: 0.5rem;
}
nav li a {
    text-decoration: none;
    color: #4040409e;
}

.break{
    margin-bottom: 2rem;
  }

main {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    background-color:rgb(255, 255, 240);
    padding: 1vh 5% 2vh;
}

main .about {
    display: flex;
}

main h1 {
    color: rgb(248, 214, 185);
    font-size: 2.5rem;
    font-weight: normal;
    background-color: rgb(185, 122, 87);
    display: inline;
    padding: 0 1rem;
    font-weight: bolder;
}

main .about q {
    background-color: #E18330;
    color: rgb(255, 255, 240);
    align-self: flex-start;
    padding: 2vh;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: light;
    font-style: italic;
}

q:before { 
    font-family: 'Quicksand','Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    content: open-quote;
    font-weight: 400;
    font-size:2rem;
} 
q:after { 
    font-family: 'Quicksand','Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    content: close-quote;
    font-weight: 400;
    font-size:2rem;
}

main .coaches{
    float: right;
}

main .coaches h2 {
    color: #E18330;
    font-weight: 600;
}

main .coaches ul {
    list-style-type: none;
    padding: 0;
}

main .coaches ul li:before {
    content: '✓ ';
    color: #E18330;
}

main p {
    margin: 0;
}

main .coach-images {
    margin-right: 3vh;
    max-height: 100%;
    max-width: 100%;
    float: left;
}

h1, h2 {
    letter-spacing: 0.15em;
}

footer {
    background-color: rgb(222, 128, 60);
    grid-row: 3/span 1;
    grid-column: 1/span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  footer address {
    color: rgb(255, 255, 240);
    font-style: normal;
    text-align: center;
  }