body {
  margin: 0;
  border: rgb(226, 179, 138) 0.5rem solid;
  background-color: rgb(226, 161, 111);
  font-family: 'Arial', sans-serif;
  width: 100%;
}

.container{
  width: 100%;
  max-width: 1015px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  width: 100%;
}


.menu {
  padding: 1rem;
  background-color: white;

  nav {
    width: 12rem;

    ul {
      padding-left: 0;
      list-style: none;

      li {
        margin-bottom: 0.5rem;
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

.links-info-schedule{
  display: flex;
  flex-direction: row;
  background-color: white;
}

.info {
  background-color: white;
  padding: 1rem 2rem;

  h1 {
    color: white;
    font-size: 2.5rem;
    background-color: rgb(209, 133, 74);
  }

  h3 {
    color: white;
    font-size: 1.5em;
    background-color: rgb(209, 133, 74);
  }
}

.course-outline{


  .week{
    list-style: upper-roman;

    ol {
      list-style: upper-latin;

      ol {
        list-style: decimal;
      }
    }
  }
}

footer {
  background-color: rgb(209, 133, 74);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    color: white;
    text-align: center;
  }
}