body, html {
  height: 100%;
  margin: 0;
  background-color: rgb(235, 178, 132);
  justify-content: center;
  font-family: 'Quicksand','Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  color: rgb(91, 91, 91);
}

.container{
  display: grid;
  grid-template-rows: max(91px, 1fr) 3fr 1rem;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  background-color: rgb(235, 178, 132);
  padding: 0% 12% 1%;
}

header{
  grid-row: 1/span 1;
  grid-column: 1/span 2;
}

.logo{
  width: 100%;
  height: 100%;
  min-height: 91px;
}

nav {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
  background-color: rgb(255, 255, 240);
}

nav li {
  list-style: none;
  margin-bottom: 0.5rem;
}
nav li a {
  text-decoration: none;
  color: #4040409e;
}

main {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  background-color:rgb(255, 255, 240);
  padding: 0 5% 2vh;
}

main h1 {
  color: white;
  font-size: 2rem;
  background-color: rgb(185, 122, 87);
}
main h2 {
  color: white;
  font-size: 1.5rem;
  background-color: rgb(185, 122, 87);
}

.week {
  list-style: upper-roman;
}
.week ol {
  list-style: upper-latin;
}
.week ol ol {
  list-style: decimal;
}

.skip{
  list-style: none;
  counter-increment: none;
}

h1, h2 {
  letter-spacing: 0.15em;
  font-weight: 600;
}

footer {
  background-color: rgb(222, 128, 60);
  grid-row: 3/span 1;
  grid-column: 1/span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

footer address {
  color: rgb(255, 255, 240);
  font-style: normal;
  text-align: center;
}